html{
    font-size: 100%;
    box-sizing: border-box;
}
body{
    font:1.6rem helvetica;
    background-color: #f0f2f5;
    margin-right: 0%;
}
*{
    padding: 0px;
    margin: 0px;
}
.HomePage{
    display: grid;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    border: .1rem black;
    margin-right: 20px;
}
.header-1 {
    display: flex;
}
.header-1 .logo {
    display: flex;
    cursor: pointer;
    padding: 0 50px;
}
.header-1 .logo img{
height: 30px;
padding:2rem;
}

.search{
    display: flex;
    align-items: center;
    background-color: #f0f2f5;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    height: 2.4rem;
    padding: 0 20px;
    margin-right: 20px 7px;
    border: none;
    position: sticky;
    top: 17px;
    font-size: 15px;
}
input[type=Search]{
width: 90%;
padding: 12px 27px;
margin: 8px 0;
align-items: center;
box-sizing: border-box;
outline-width: 50px;
border: none;
background-color: #F0F2F5;
position: relative;
border-radius: 2rem;
    bottom: 15px;
    left: 40px;
}
input::placeholder{font-size: 1rem;}
.middle-header{
    display: flex;
    align-items: center;
    flex: 0%;
    justify-content: center;
    width: 1%;
    margin-right: 5%;
}
.icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 30px;
}
.icon-b-bt{
    visibility: visible;
    width: 100px;
    border-bottom: 5px solid#1877F2;
    position: relative;
    top: 10px;
right: 30px;
text-align: center;
    
}
.home{
    color: #1877F2;
    font-size: 1.5rem;
    position: relative;
    bottom:10px;

}
.icons{
    color: #0d0d0e;
    font-size: 2.3rem;
}
.header-3{
    display: flex;
    align-items: center;
    padding: 40px;
}
.plus-2{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 15px;
    border-radius: 50px;
    height: 2.7rem;
    background-color: #ebebeb;
}
.plus-1{
    display:flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 0 15px;
    font-weight: 500;
    border-radius: 50%;
    height: 3rem;
    margin-right: 50px;
}
.plus-1>div{
    padding-left: 10px;
}
.plus-1>img{
    border-radius: 50%;
    width: 100%;
}
.img-d{
    height: 40px;
}
.fa-plus{
    font-size: 1rem;
}